*/example/node_modules

*/example/.gitignore
*/example/.gitattributes

*/example/.yarn/*

!*/example/.yarn/patches
!*/example/.yarn/plugins
!*/example/.yarn/releases
!*/example/.yarn/sdks
!*/example/.yarn/versions